NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

REPLICATE_API_TOKEN=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=

DATABASE_URL=

R2_ENDPOINT_URL=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_REGION=
R2_PUBLIC_BASE_URL=

COOLIFY_BASE_URL=
COOLIFY_API_TOKEN=

BYTEPLUS_ARK_API_KEY=
BYTEPLUS_BASE_URL=https://ark.ap-southeast.bytepluses.com/api/v3
BYTEPLUS_MODEL_SEED=dola-seed-2-1-turbo-260628
BYTEPLUS_MODEL_SEEDREAM=dola-seedream-5-0-pro-260628
BYTEPLUS_MODEL_SEEDANCE=dreamina-seedance-2-5-260628